{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h100">
        <div class="row h100">
            <div class="col-12 my-auto">
                <h1 class="display-1 text-color-light logo-font">Make Hay</h1>
                <h2 class="text-uppercase text-color-light py-3">Consultancy, Recruitment and Catering</h2>
            </div>
        </div>
    </div>
{% endblock %}
