{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h100">
    <div class="row h100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-1 text-color-light logo-font">Chad P. Byrne</h1>
            <h2 class="text-uppercase text-color-light py-3"></h2>
        </div>
        <div class="col-4 col-md-6 d-none d-md-block d-lg-block my-auto">
            <img class="ourchef-img" src="/media/chad.jpg" alt="Chef Chad">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 my-auto bio bio-overlay">
            <p>
                Chad Byrne is an accomplished chef with 25+ years of experience in the culinary industry. He has worked
                in diverse establishments, from steak houses and Michelin-starred restaurants to 5-star hotels. Chad
                excels in pop-up restaurants and events, and his food truck is recognized as one of the country's best.
                <br>
                <br>
                With vast knowledge, Chad specializes in motivating kitchen crews, controlling costs, and ensuring
                top-quality food. He implements standards, sets targets, and works within structured time frames to
                efficiently achieve establishment goals.
                <br>
                <br>
                Chad's strength lies in his solid operational planning, emphasizing understanding fixed costs and
                daily expenses. His menu planning focuses on resourceful ingredient management, reflecting the
                establishment's identity and catering to cost-conscious markets. Chad provides practical approaches to
                food, including reliable recipes and efficient service.
                <br>
                <br>
                Skilled in team building for both front-of-house and back-of-house teams, Chad creates positive work
                environments and addresses toxic kitchen cultures.
                <br>
                <br>
                Throughout his career, Chad has received numerous accolades,
                <ul>
                    <li>Fair Kitchens ambassador</li>

                    <li>Irish Examiner Chef of the Year</li>

                    <li>McKenna's Guide Food Champion.</li>

                    <li>Munster and Kerry Food Hero of the Year.</li>

                    <li>Irish Hotels Federation Chef of the Year.</li>
                </ul>

                Chad has showcased his skills as the head chef of the renowned Brehon Hotel winning numerous awards
                and has through his work with Pop-up events and collaborations , he was breakout chef of the year
                For the Irish Examiner
                <br>
                <br>
                Currently, Chad owns the Hungry Donkey food truck, consistently praised by media outlets like Sunday
                Independent, Irish Times, Hotpress, and McKennas Guide as one of Ireland's best.
                <br>
                <br>
                With extensive experience, practical approach, and a proven track record, Chad Byrne is a trusted
                and respected figure in the culinary industry.
            </p>
        </div>
    </div>
</div>


{% endblock %}