<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color mr-5 text-color" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consultancy
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'ourservices' %}" class="dropdown-item text-color">Our Services</a>
                <a href="{% url 'ourchef' %}" class="dropdown-item text-color">Our Chef</a>
                <a href="{% url 'letstalk' %}" class="dropdown-item text-color">Lets talk</a>
                <a href="" class="dropdown-item text-color">Somthing else</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color mr-5" href="#" id="recruitment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Recruitment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="recruitment-link">
                <a href="{% url 'roles' %}" class="dropdown-item text-color">Jobs</a>
                <a href="" class="dropdown-item text-color">Something</a>
                <a href="" class="dropdown-item text-color">Clients</a>
                <a href="" class="dropdown-item text-color">Contact</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color mr-5" href="#" id="catering-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Catering
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="catering-link">
                <a href="" class="dropdown-item text-color">The Hungry Donkey</a>
                <a href="" class="dropdown-item text-color">Menus</a>
                <a href="" class="dropdown-item text-color">Events</a>
                <a href="" class="dropdown-item text-color">Book</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'products' %}?category=staples" class="dropdown-item text-color">Staples</a>
                <a href="{% url 'products' %}?category=seasonal" class="dropdown-item text-color">Seasonal</a>
                <a href="{% url 'products' %}?category=kits" class="dropdown-item text-color">Kit</a>
                <a href="{% url 'products' %}" class="dropdown-item text-color">Shop All</a>
            </div>
        </li>
    </ul>
</div>