@import url('https://fonts.cdnfonts.com/css/baron-neue');


html {
    height: 100%;
}

body {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 164px);
    color: rgb(227, 217, 198);
    font-family: 'Baron Neue', sans-serif;
}

.bg-1 {
    background-color: rgb(227, 217, 198);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.logo-font {
    text-transform: uppercase;
}

.text-color {
    color: rgb(79, 83, 88) !important;
}

.text-color-light {
    color: rgb(227, 217, 198) !important;
}

.border-black {
    border: 1px solid rgb(79, 83, 88) !important;
}

.bg-black {
    background: rgb(79, 83, 88)0 !important;
}

.navbar{
    padding: 0;
}

a.category-badge > span.badge:hover {
    background: rgb(79, 83, 88) !important;
    color: rgb(227, 217, 198) !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

.makehay-btn {
    color: rgb(79, 83, 88);
    background-color: rgb(227, 217, 198) !important;
    
}
/* -------------------------------- Let's Talk form styles  */

.lets-talk-form {
    padding-bottom: 0.75rem;
}

/* -------------------------------- Our chef styles  */

.ourchef-img {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
/* -------------------------------- Shop & recruitment overlay styles  */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(227, 217, 198);
    z-index: -1;
}
.bio-overlay {
    background-color: rgb(79, 83, 88);
    padding: 2rem 2rem;
}

/* -------------------------------- Footer styles  */
  
  .footer-distributed{
    background: rgb(79, 83, 88);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 55px 50px;
    margin-top: 5rem;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    color:  rgb(227, 217, 198);
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  rgb(227, 217, 198);
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  rgb(227, 217, 198);
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color: rgb(227, 217, 198);
  }
  
  .footer-distributed .footer-company-name{
    color:  rgb(227, 217, 198);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: rgb(227, 217, 198);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: rgb(227, 217, 198);
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  rgb(227, 217, 198);
    text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: rgb(227, 217, 198);
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  rgb(227, 217, 198);
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  rgb(227, 217, 198);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: rgb(227, 217, 198);
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  

  /* -------------------------------- Media Queries */
  @media (max-width: 880px) {

  
  }


/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        /* height: calc(100vh - 116px); */
    }
      
    .footer-distributed{
        font: bold 14px sans-serif;
      }
    
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }
    
      .footer-distributed .footer-center i{
        margin-left: 0;
      }
}